body, html{
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	padding-top: 0px;
	background-color: #e0e0eb;

	/*#1976D2 = original*/
}

#home {
	height: 100%;
	/*Horiztonally and vertically centering content"*/
    text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}



.jumbotron{
	background-color: #FF5722;
	/*#FF5722 = original color for picture*/
}
.albert {
	/*Horizontally centering the albert image*/
	/*position:  static;*/
	align-self: stretch;
	justify-content: flex-start;
	width: 100%;
	z-index: 0;

}
.landing-title {
	font-size: 80px;
	color: black;
}

h1,h2,h3,h4,h5,h6 {
	color: #50507c;
}

p{
	color: #1e1e2f;
}

.badge{
	color: white;
}



.
